@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    padding: 0;
    color: #0f172a; /* slate-900 */
    background-color: #f1f5f9; /* slate-100 */
  }
}
